*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

/* 滚动条整体背景 */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* 外层轨道 */
*::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* 滚动条里面可以拖动的那部分 */
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* 滚动条里面可以拖动的那部分 */
*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

/* 滚动条里面可以拖动的那部分 */
*::-webkit-scrollbar-thumb:active {
  background-color: #aaa;
}

/* 边角，两个滚动条交汇处 */
*::-webkit-scrollbar-corner {
  display: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

i {
  font-style: normal;
}

img,
a {
  /* 禁用手机端长按页面弹出菜单 */
  -webkit-touch-callout: none;
}

img {
  /* 禁止用户鼠标在页面上选中文字/图片等 */
  user-select: none;
  /* 清除图片与图片、文字之间的缝隙缝隙 */
  vertical-align: middle;
}

img:not([src]) {
  /* 使用图片标签，但没有图片，则隐藏 */
  display: none;
}

button,
input,
select,
textarea {
  border: 1px solid #000;
  background-color: transparent;
  outline: none;
  /* 用于IOS下移除原生样式 */
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

textarea {
  /* 禁止用户拖拽文本域 */
  resize: none;
}

textarea::-webkit-scrollbar {
  /* 隐藏滚动条但能滚动 */
  display: none;
}

table {
  margin: auto;
  /* 将表格双边框合并成一条边框 */
  border-collapse: collapse;
  /* 设置单元格之间的距离，0为合并相邻边框线 */
  border-spacing: 0;
}

th,
td {
  text-align: center;
  padding: 5px;
  border: 1px solid #000;
}

thead {
  text-align: center;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* 在移动端iOS加上这个属性才能修改input样式 */
  appearance: none;
}