<!DOCTYPE html>
<html lang="en">
<!-- 需要建立本地服务器才能打开 -->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>冷弋白的网页</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
        }

        body,
        .app {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }

        .A {
            display: flex;
            flex-direction: row;
        }

        li {
            margin: 10px 15px;
        }
    </style>
</head>

<body>
    <div class="app">
        <input type="text" @keyup.enter="searchWeather" v-model="city" />
        <a href="javascript:;" @click='changeCity("自贡")'>四川自贡</a>
        <div class="A">
            <li v-for="item in weatherList">
                <div><span> {{ item.type }}</span></div>
                <div><b>{{ item.low }}</b> <b>{{ item.hight }}</b></div>
                <div><span>{{ item.date }}</span></div>
            </li>
        </div>
    </div>
    <!-- JS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        let app = new Vue({
            el: ".app",
            data: {
                city: "",
                weatherList: [],
            },
            methods: {
                searchWeather() {
                    let that = this;
                    console.log("天气查询");
                    console.log(this.city);
                    axios
                        .get("http://wthrcdn.etouch.cn/weather_mini?city=自贡")
                        .then(function (res) {
                            that.weatherList = res.data.data.forecast;
                            console.log(res);
                        });
                },
                changeCity(city) {
                    this.city = city;
                    this.searchWeather();
                },
            },
        });
    </script>
</body>

</html>