*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent;
}
.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clear-fix {
  zoom: 1;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #aaa;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
i {
  font-style: normal;
}
img,
a {
  -webkit-touch-callout: none; /* 禁用手机端长按页面弹出菜单 */
}
img {
  vertical-align: middle; /* 清除图片与图片、文字之间的缝隙缝隙 */
}
button,
input,
select,
textarea {
  border: 1px solid #000;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none; /* 用于IOS下移除原生样式 */
}
input:focus {
  outline: none;
}
textarea {
  resize: none; /* 禁止用户拖拽文本域 */
}
textarea::-webkit-scrollbar {
  display: none; /* 隐藏滚动条但能滚动 */
}
table {
  border-collapse: collapse; /* 将表格双边框合并成一条边框 */
  border-spacing: 0; /* 设置单元格之间的距离，0为合并相邻边框线 */
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* 在移动端iOS加上这个属性才能修改input样式 */
}
